num_memory_buffers = 1
num_memories = 1
links_per_gpu = 4
links_per_memory_buffer = 4
compression_ratio  = 1.0
ramulator_config = ./HBM2-config.cfg
cxl_link_config = ./cxl_link_no_buffer.icnt
local_cross_bar_config = ./memory_buffer_crossbar.icnt

memory_mapping = GGGGGGGG.00000000.00000000.00000000.RRRRRRRR.RRRRRBBB.cccBcccc.CCCSSSSS
#NDP configuration
max_packet_size = 64
packet_size = 32
num_simd_units = 8
simd_units_per_buffer = 8
request_queue_size = 64

register_file_size = 32768
register_file_num_bank = 16
scalar_register_file_size = 32768
scalar_register_file_num_bank = 16
scalar_register_file_granularity = 8

token_buffer_size = 64
filter_table_size = 1024

inst_buffer_size = 16
inst_q_width = 64
inst_q_height = 500

num_fma_units = 3
num_sf_units = 1
num_relu_units = 3
num_ldst_units = 1

simd_width = 128
simd_op_latencies = 5,40,40,40,1,1,1,1,4

max_table_size = 4
max_table_delay = 16;
